html
    body
        extends layout
        block content
            h1= title
            form(name="add-estimation", method="post",action="generate-kid-code")
                div.actions
                    input(type="submit", value="generate-kid-code")
            form(name="add-estimation", method="post",action="logout")
                div.actions
                    input(type="submit", value="sign out")
