//
   Created by Ciubi on 28/03/16.
extends layout
block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Latitude
            input(type="text", name="username")
        div.input
            span.label Longitude
            input(type="text", name="password")
        div.actions
            input(type="submit", value="add")
