//
   Created by Ciubi on 28/03/16.
extends layout
block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Username
            input(type="text", name="username")
        div.input
            span.label Password
            input(type="text", name="password")
        div.input
            span.label As child
            input(type="checkbox",name="isChild")
        div.actions
            input(type="submit", value="add")
        img(src='https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png', alt='facebook icon', height='42px', width='42px', onclick="window.location='/facebook/login';")