//
   Created by Ciubi on 18/06/16.

block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Password
            input(type="text", name="password")
        div.actions
            input(type="submit", value="add")