.notification-card-test.mdl-card {
    width: 350px;
    right: 10px;
    top: 15px;
    bottom: 15px;
}

.management-notification-card > .mdl-card__title {
    color: #000;
    height: 80px;
    background: url('management_icon.png') center/cover;
}

.viewing-notification-card > .mdl-card__title {
    color: #000;

    height: 80px;
    background: url('view_icon.png') center/cover;
}

.alert-notification-card > .mdl-card__title {
    color: #000;
    max-width: 100%;
    height: 80px;
    background: url('./alert_icon.png') center/cover;
}

.notification-card-test > .mdl-card__menu {
    color: #fff
}

.mdl-textfield {
    background-color: #448aff;
    border-bottom-left-radius: 25px;

   
}