.interface-area {
    position: absolute;
    height:100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#notification-area {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 260px;
    width: 350px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

#notification-holder {
    position: relative;
    height: inherit;
    width: inherit;
    overflow-x: scroll;
    padding-right: 20px;
    padding-bottom: 20px;
}

.search-bar {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    z-index: 3;
}





.centerbox{
    position: absolute;
    left: 400px;
    top: 400px;
    height: 400px;
    width: 300px;
    overflow: hidden;
    background-color: mediumaquamarine;
}
.centercard{
    height: inherit;
    width:inherit;
    overflow:scroll;
     padding-right: 15px;
}