.interface-area {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#notification-area {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 260px;
    width: 350px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    z-index: 2;
}

#notification-area:hover {
    height: 100vh;
}

#notification-holder {
    position: relative;
    height: inherit;
    width: inherit;
    overflow-x: scroll;
    padding-right: 20px;
    padding-bottom: 20px;
}